body{
    background-color: lightgrey;
}

.box-part{
    background-color: white;
    padding: 50px 10px;
    margin : 30px 5px;
}
img{
    width: 150px;
    height: 180px;
}
p{
    margin: 10px 0px;
    font-size: 12px;
}
.box{
    padding: 30px 5px;
}
